.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.banner-content {
    width: 50%;
    padding-right: 50px;
    text-align: center;
}

.banner-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner-buttons a {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.banner-image {
    width: 40%;
}

.banner-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    #banner {
        flex-direction: column;
        text-align: center;
    }

    .banner-content,
    .banner-image {
        width: 100%;
        padding: 0;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .banner-buttons a {
        margin-bottom: 20px;
        margin-right: 0;
    }
}