body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.toggle-nav {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }

    .toggle-nav {
        display: block;
    }

    nav {
        flex-basis: 100%;
        display: none;
        margin-top: 10px;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}